
<header>
  <h1>SumitCart</h1>
</header> 
<table cellpadding="5" border="3">
  <tr>
    <th>Item Name</th>
    <th>Item Category</th>
    <th>Item Price</th>
  </tr> 
  <tr>
    <td>{{assignmentItem[0]}}</td>
    <td>{{assignmentCategory[0]}}</td> 
    <td>{{assignmentPrice[0]}}</td> 
  </tr>
  <tr>
      <td>{{assignmentItem[1]}}</td>
      <td>{{assignmentCategory[1]}}</td> 
      <td>{{assignmentPrice[1]}}</td> 
    </tr>
    <tr>
        <td>{{assignmentItem[2]}}</td>
        <td>{{assignmentCategory[2]}}</td> 
        <td>{{assignmentPrice[2]}}</td> 
      </tr>
</table>